# Ignore all dotfiles
.*
!.gitignore
!.config
!.github
!.python-version
!.pre-commit-config.yaml
!.flake8
!.yamllint
!.ansible-lint
# Intellij
.idea
# testinfra
__pycache__
*.pyc
# secrets file
hosts/group_vars/all/secrets.yml
*ovpn*
!dummy.ovpn.j2
