---

extends: default

rules:
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 0
  brackets:
    min-spaces-inside: 1
    max-spaces-inside: 1
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 0
  comments:
    level: error
    min-spaces-from-content: 1
  comments-indentation: disable
  document-start:
    level: error
  line-length:
    max: 180
    level: warning
  octal-values:
    forbid-explicit-octal: true
    forbid-implicit-octal: true
  truthy: disable
