#jinja2: trim_blocks: True, lstrip_blocks: True
global:
  resolve_timeout: 1m

route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 1m
  repeat_interval: 1h
  receiver: 'gotify_webhook'

receivers:
- name: 'gotify_webhook'
  webhook_configs:
  - url: "{{ prometheus_alertmanager_webhook_url }}"

# Inhibition rules allow to mute a set of alerts given that another alert is
# firing.
# We use this to mute any warning-level notifications if the same alert is
# already critical.
inhibit_rules:
  - source_matchers: [severity="critical"]
    target_matchers: [severity="warning"]
    equal: ['alertname', 'dev', 'instance']
