<VirtualHost *:80>
    ServerName {{ grafana_url }}

    ProxyPreserveHost On
    ProxyPass / http://0.0.0.0:{{ grafana_listen_port }}/
    ProxyPassReverse / http://0.0.0.0:{{ grafana_listen_port }}/

    LogFormat "%v:%p %h %l %u %t \"%r\" %>s \"%{Referer}i\" \"%{User-Agent}i\"" log
    CustomLog ${APACHE_LOG_DIR}/grafana.access.log log
    ErrorLog ${APACHE_LOG_DIR}/grafana.error.log

</VirtualHost>