<VirtualHost *:80>
    ServerName {{ molecule_test_url }}

    ProxyPreserveHost On
    ProxyPass / http://0.0.0.0:{{ molecule_test_listen_port }}/
    ProxyPassReverse / http://0.0.0.0:{{ molecule_test_listen_port }}/

    <IfModule mod_ssl.c>
      <IfModule mod_rewrite.c>
          RewriteEngine On
          RewriteCond %{HTTPS} !=on
          RewriteCond %{HTTP:X-SSL-TERMINATED} !^true$ [NC]
          RewriteRule ^(.*)$ https://%{HTTP_HOST}$1 [R=301,L]
      </IfModule>
  </IfModule>

  LogFormat "%v:%p %h %l %u %t \"%r\" %>s \"%{Referer}i\" \"%{User-Agent}i\" SSL-TERMINATED:%{X-SSL-TERMINATED}i %{ms}T" log_combined
  CustomLog ${APACHE_LOG_DIR}/molecule_test.access.log log_combined
  ErrorLog ${APACHE_LOG_DIR}/molecule_test.error.log

</VirtualHost>