#jinja2: trim_blocks: True, lstrip_blocks: True
groups:
{% for group in prometheus_alerting_rules %}
- name: {{ group.group_name }}
  rules:
    {% for rule in group.rules %}
    - alert: {{ rule.name }}
      expr: {{ rule.expr }}
      labels:
        severity: {{ rule.severity }}
      annotations:
        summary: {{ rule.summary }}
    {% endfor %}
{% endfor %}
