#jinja2: trim_blocks: True, lstrip_blocks: True

global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s

rule_files:
  - {{ prometheus_config_path }}/rules/*.rules

scrape_configs:
  - job_name: "prometheus"
    metrics_path: "/metrics"
    static_configs:
      - targets: ['localhost:9090']