#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
# http://prometheus.io/docs/operating/configuration/

global:
  # How frequently to scrape targets
  scrape_interval: 10s
  scrape_timeout: 5s
  # How frequently to evaluate rules
  evaluation_interval: 10s

rule_files:
  - {{ prometheus_rules_config_path }}/*.yml

alerting:
  alertmanagers:
    - static_configs:
      - targets:
        - {{ prometheus_alertmanager_address }}

scrape_configs:
  - job_name: "prometheus"
    metrics_path: "/metrics"
    static_configs:
      - targets: ['localhost:{{ prometheus_listen_port }}']
  - job_name: "metrics"
    metrics_path: "/metrics"
    static_configs:
      - targets:
        {% for host in groups['all'] %}
        - {{ host }}.local:9100
        {% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        regex: "(.*)\\.(.*)"
        target_label: instance
  - job_name: "blackbox"
    metrics_path: "/probe"
    params:
      module: [http_2xx]
    file_sd_configs:
      - files:
        - {{ prometheus_blackbox_exporter_targets_json_file_sd_path }}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ prometheus_blackbox_exporter_address }}
