[Unit]
Description=Prometheus
After=network-online.target

[Service]
Type=simple
Environment="GOMAXPROCS={{ ansible_processor_vcpus|default(ansible_processor_count) }}"
User={{ prometheus_user }}
Group={{ prometheus_group }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ prometheus_install_path }}/prometheus \
  --config.file={{ prometheus_config_path }}/prometheus.yml \
  --storage.tsdb.path={{ prometheus_data_path }} \
  --storage.tsdb.retention={{ prometheus_storage_retention }} \
  --web.console.libraries={{ prometheus_install_path }}/console_libraries \
  --web.console.templates={{ prometheus_install_path }}/consoles \
  --web.listen-address={{ prometheus_listen_address }} \
  --web.enable-admin-api \
  --web.external-url=/

CapabilityBoundingSet=CAP_SET_UID
LimitNOFILE=65000
LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
RemoveIPC=true
RestrictSUIDSGID=true

ReadWritePaths={{ prometheus_data_path }}

PrivateUsers=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict

SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target